.calendar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  .BookBtn{
    background-color: #05ff3b;
    color: white;
    text-transform: uppercase;
  }